playwrighttest/bin/Debug/net7.0/nunit_random_seed.tmp
playwrighttest/bin/Debug/net7.0/nunit_random_seed.tmp
playwrighttest/bin/Debug/net7.0/playwrighttest.dll
playwrighttest/bin/Debug/net7.0/playwrighttest.pdb
playwrighttest/obj/Debug/net7.0/playwrighttest.AssemblyInfo.cs
playwrighttest/obj/Debug/net7.0/playwrighttest.AssemblyInfoInputs.cache
playwrighttest/obj/Debug/net7.0/playwrighttest.dll
playwrighttest/obj/Debug/net7.0/playwrighttest.pdb
playwrighttest/obj/Debug/net7.0/playwrighttest.sourcelink.json
playwrighttest/obj/Debug/net7.0/ref/playwrighttest.dll
playwrighttest/obj/Debug/net7.0/refint/playwrighttest.dll
